*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin: 35%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding:35px;
    text-align:center;
}
.box1{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.box1:hover{
    background-color: black;
    color: white;
}
.product{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 30px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}