.para1{ border: solid;
   border-color: orange;
   border-width: 4px;
   padding: 1%;}
.para2{ border: solid;
   border-color: green;
   border-width: 4px;
   padding: 1%;}
.edit{ color: white;
   background-color: blue;
   width: 100px;
   height: 25px;
   text-align: center;}
.para3{ border: solid;
   border-color:yellow;
   border-width: 4px;
   padding: 1%;}
.para4{ border: solid;
   border-color: blue;
   border-width: 4px;
   padding: 1%;}
.container{ 
   display: flex;
   background-color: white;
   padding: 10px;
   justify-content: space-between;
}

.container2{
   display: flex;
   background-color: white;
   padding:10px;
   justify-content: space-between;
}
